@font-face {
    font-family: sTone;
    src: url(../fonts/stoNe.ttf);
}

.xlerate{
	font-family:sTone ;
}

.slider-caption h2{
	text-transform: uppercase;
	font-style: italic;
	float: right;

}

.leftIns{
	float:left !important;
}

.customIns{
	padding: 0;
	margin: 0;
}

.plan p{
	color: white;
}

.footerxlerate{
	border: none;
	color: black;
}

.expoMargin{
	margin: 0 !important;
	padding: 0 !important;
}